In [1]:
import pandas as pd
import sqlite3

pd.__version__

'2.2.2'

In [5]:
orders = pd.read_csv("orders.csv")
orders.head()

,order_id,user_id,restaurant_id,order_date,total_amount,restaurant_name
0,1,2508,450,18-02-2023,842.97,New Foods Chinese
1,2,2693,309,18-01-2023,546.68,Ruchi Curry House Multicuisine
2,3,2084,107,15-07-2023,163.93,Spice Kitchen Punjabi
3,4,319,224,04-10-2023,1155.97,Darbar Kitchen Non-Veg
4,5,1064,293,25-12-2023,1321.91,Royal Eatery South Indian

In [7]:
users = pd.read_json("users.json")
users.head()

   user_id    name       city membership
0        1  User_1    Chennai    Regular
1        2  User_2       Pune       Gold
2        3  User_3  Bangalore       Gold
3        4  User_4  Bangalore    Regular
4        5  User_5       Pune       Gold

In [9]:
conn = sqlite3.connect("restaurants.db")

with open("restaurants.sql", "r", encoding="utf-8") as file:
    sql_script = file.read()

conn.executescript(sql_script)

In [11]:
restaurants = pd.read_sql("SELECT * FROM restaurants", conn)
restaurants.head()

   restaurant_id restaurant_name  cuisine  rating
0              1    Restaurant_1  Chinese     4.8
1              2    Restaurant_2   Indian     4.1
2              3    Restaurant_3  Mexican     4.3
3              4    Restaurant_4  Chinese     4.1
4              5    Restaurant_5  Chinese     4.8

In [21]:
orders_users = pd.merge(
    orders,
    users,
    on="user_id",
    how="left"
)

final_df = pd.merge(
    orders_users,
    restaurants,
    on="restaurant_id",
    how="left"
)

In [23]:
orders.columns
users.columns
restaurants.columns

Index(['restaurant_id', 'restaurant_name', 'cuisine', 'rating'], dtype='object')

In [29]:
orders.columns = orders.columns.str.strip().str.lower()
users.columns = users.columns.str.strip().str.lower()
restaurants.columns = restaurants.columns.str.strip().str.lower()

In [31]:
orders_users = pd.merge(
    orders,
    users,
    on="user_id",
    how="left"
)

final_df = pd.merge(
    orders_users,
    restaurants,
    on="restaurant_id",
    how="left"
)

In [35]:
users.columns = users.columns.str.strip().str.lower()

In [38]:
print(type(users))
print(users)

<class 'pandas.core.frame.DataFrame'>
      user_id       name       city membership
0           1     User_1    Chennai    Regular
1           2     User_2       Pune       Gold
2           3     User_3  Bangalore       Gold
3           4     User_4  Bangalore    Regular
4           5     User_5       Pune       Gold
...       ...        ...        ...        ...
2995     2996  User_2996  Hyderabad       Gold
2996     2997  User_2997  Hyderabad    Regular
2997     2998  User_2998  Bangalore    Regular
2998     2999  User_2999       Pune    Regular
2999     3000  User_3000  Hyderabad       Gold

[3000 rows x 4 columns]

In [40]:
import json
import pandas as pd

with open("users.json", "r", encoding="utf-8") as f:
    raw_users = json.load(f)

users = pd.json_normalize(raw_users)

In [42]:
type(users)
users.head()

   user_id    name       city membership
0        1  User_1    Chennai    Regular
1        2  User_2       Pune       Gold
2        3  User_3  Bangalore       Gold
3        4  User_4  Bangalore    Regular
4        5  User_5       Pune       Gold

In [44]:
users.columns = users.columns.astype(str).str.strip().str.lower()

In [46]:
print(users.columns)
print(users.dtypes)

Index(['user_id', 'name', 'city', 'membership'], dtype='object')
user_id        int64
name          object
city          object
membership    object
dtype: object

In [48]:
orders_users = pd.merge(
    orders,
    users,
    on="user_id",
    how="left"
)

In [50]:
users.columns
users.head(2)

   user_id    name     city membership
0        1  User_1  Chennai    Regular
1        2  User_2     Pune       Gold

In [52]:
print(type(users))
print(users)

<class 'pandas.core.frame.DataFrame'>
      user_id       name       city membership
0           1     User_1    Chennai    Regular
1           2     User_2       Pune       Gold
2           3     User_3  Bangalore       Gold
3           4     User_4  Bangalore    Regular
4           5     User_5       Pune       Gold
...       ...        ...        ...        ...
2995     2996  User_2996  Hyderabad       Gold
2996     2997  User_2997  Hyderabad    Regular
2997     2998  User_2998  Bangalore    Regular
2998     2999  User_2999       Pune    Regular
2999     3000  User_3000  Hyderabad       Gold

[3000 rows x 4 columns]

In [54]:
import json
import pandas as pd

with open("users.json", "r", encoding="utf-8") as f:
    raw_users = json.load(f)

users = pd.json_normalize(raw_users)

In [56]:
type(users)
users.head()

   user_id    name       city membership
0        1  User_1    Chennai    Regular
1        2  User_2       Pune       Gold
2        3  User_3  Bangalore       Gold
3        4  User_4  Bangalore    Regular
4        5  User_5       Pune       Gold

In [58]:
users.columns = users.columns.astype(str).str.strip().str.lower()

In [60]:
print(users.columns)
print(users.dtypes)

Index(['user_id', 'name', 'city', 'membership'], dtype='object')
user_id        int64
name          object
city          object
membership    object
dtype: object

In [62]:
orders_users = pd.merge(
    orders,
    users,
    on="user_id",
    how="left"
)

In [64]:
print("Orders columns:", orders.columns)
print("Users columns:", users.columns)
print("Orders user_id dtype:", orders["user_id"].dtype)
print("Users user_id dtype:", users["user_id"].dtype)

Orders columns: Index(['order_id', 'user_id', 'restaurant_id', 'order_date', 'total_amount',
       'restaurant_name'],
      dtype='object')
Users columns: Index(['user_id', 'name', 'city', 'membership'], dtype='object')
Orders user_id dtype: int64
Users user_id dtype: int64

In [66]:
orders.columns = orders.columns.astype(str).str.strip().str.lower()
users.columns = users.columns.astype(str).str.strip().str.lower()

In [68]:
"user_id" in orders.columns
"user_id" in users.columns

True

In [70]:
orders["user_id"] = orders["user_id"].astype(str).str.strip()
users["user_id"] = users["user_id"].astype(str).str.strip()

In [72]:
orders_users = pd.merge(
    orders,
    users,
    on="user_id",
    how="left"
)

In [74]:
orders["user_id"] = orders["user_id"].astype(str)
users["user_id"] = users["user_id"].astype(str)

In [76]:
users.head()

  user_id    name       city membership
0       1  User_1    Chennai    Regular
1       2  User_2       Pune       Gold
2       3  User_3  Bangalore       Gold
3       4  User_4  Bangalore    Regular
4       5  User_5       Pune       Gold

In [78]:
import json
import pandas as pd

with open("users.json", "r", encoding="utf-8") as f:
    data = json.load(f)

# If JSON has a top-level key like "users"
if isinstance(data, dict):
    users = pd.DataFrame(data[list(data.keys())[0]])
else:
    users = pd.DataFrame(data)

In [80]:
users.columns = users.columns.astype(str).str.strip().str.lower()

In [82]:
orders_users = pd.merge(
    orders,
    users,
    left_on="user_id",
    right_on="user_id",
    how="left",
    validate="many_to_one"
)

ValueError: You are trying to merge on object and int64 columns for key 'user_id'. If you wish to proceed you should use pd.concat

In [84]:
orders.shape
orders_users.shape

(10000, 9)

In [86]:
orders_users.isna().sum()

order_id           0
user_id            0
restaurant_id      0
order_date         0
total_amount       0
restaurant_name    0
name               0
city               0
membership         0
dtype: int64

In [88]:
orders["user_id"] = orders["user_id"].astype(str).str.strip()
users["user_id"] = users["user_id"].astype(str).str.strip()

In [90]:
orders_users = pd.merge(
    orders,
    users,
    on="user_id",
    how="left"
)

In [92]:
orders["user_id"].dtype
users["user_id"].dtype

dtype('O')

In [94]:
orders.shape
orders_users.shape

(10000, 9)

In [96]:
orders_users.isna().sum()

order_id           0
user_id            0
restaurant_id      0
order_date         0
total_amount       0
restaurant_name    0
name               0
city               0
membership         0
dtype: int64

In [98]:
orders["restaurant_id"] = orders["restaurant_id"].astype(str)
restaurants["restaurant_id"] = restaurants["restaurant_id"].astype(str)

In [100]:
import pandas as pd

df = pd.read_csv("final_food_delivery_dataset.csv")
df.head()

FileNotFoundError: [Errno 2] No such file or directory: 'final_food_delivery_dataset.csv'

In [102]:
import os
os.getcwd()

'C:\\Users\\kumar\\food_delivery_project'

In [104]:
os.listdir()

['.ipynb_checkpoints',
 'food_delivery_analysis.ipynb',
 'orders.csv',
 'restaurants.db',
 'restaurants.sql',
 'users.json']

In [108]:
import pandas as pd
import sqlite3

In [110]:
orders = pd.read_csv("orders.csv")

In [112]:
import json

with open("users.json", "r", encoding="utf-8") as f:
    users_data = json.load(f)

# Handle both flat & nested JSON safely
if isinstance(users_data, dict):
    users = pd.DataFrame(users_data[list(users_data.keys())[0]])
else:
    users = pd.DataFrame(users_data)

In [114]:
conn = sqlite3.connect("restaurants.db")
restaurants = pd.read_sql("SELECT * FROM restaurants", conn)

In [116]:
orders.columns = orders.columns.astype(str).str.strip().str.lower()
users.columns = users.columns.astype(str).str.strip().str.lower()
restaurants.columns = restaurants.columns.astype(str).str.strip().str.lower()

In [118]:
orders["user_id"] = orders["user_id"].astype(str)
users["user_id"] = users["user_id"].astype(str)

orders["restaurant_id"] = orders["restaurant_id"].astype(str)
restaurants["restaurant_id"] = restaurants["restaurant_id"].astype(str)

In [122]:
orders_users = pd.merge(
    orders,
    users,
    on="user_id",
    how="left"
)

final_df = pd.merge(
    orders_users,
    restaurants,
    on="restaurant_id",
    how="left"
)

In [124]:
final_df.to_csv("final_food_delivery_dataset.csv", index=False)

In [126]:
import os
os.listdir()

['.ipynb_checkpoints',
 'final_food_delivery_dataset.csv',
 'food_delivery_analysis.ipynb',
 'orders.csv',
 'restaurants.db',
 'restaurants.sql',
 'users.json']

In [128]:
df = pd.read_csv("final_food_delivery_dataset.csv")
df.head()

,order_id,user_id,restaurant_id,order_date,total_amount,restaurant_name_x,name,city,membership,restaurant_name_y,cuisine,rating
0,1,2508,450,18-02-2023,842.97,New Foods Chinese,User_2508,Hyderabad,Regular,Restaurant_450,Mexican,3.2
1,2,2693,309,18-01-2023,546.68,Ruchi Curry House Multicuisine,User_2693,Pune,Regular,Restaurant_309,Indian,4.5
2,3,2084,107,15-07-2023,163.93,Spice Kitchen Punjabi,User_2084,Chennai,Gold,Restaurant_107,Mexican,4.0
3,4,319,224,04-10-2023,1155.97,Darbar Kitchen Non-Veg,User_319,Bangalore,Gold,Restaurant_224,Chinese,4.8
4,5,1064,293,25-12-2023,1321.91,Royal Eatery South Indian,User_1064,Pune,Regular,Restaurant_293,Italian,3.0

In [130]:
import pandas as pd

df = pd.read_csv("final_food_delivery_dataset.csv")

print("MCQ 1 City with highest total revenue from Gold members")
gold_city = (
    df[df["membership_type"] == "Gold"]
    .groupby("city")["order_amount"]
    .sum()
    .sort_values(ascending=False)
)
print(gold_city, "\n")
print("Answer:", gold_city.idxmax())
print("-"*60)

print("MCQ 2 Cuisine with highest average order value")
cuisine_aov = df.groupby("cuisine")["order_amount"].mean().sort_values(ascending=False)
print(cuisine_aov, "\n")
print("Answer:", cuisine_aov.idxmax())
print("-"*60)

print("MCQ 3 Users with total spend > 1000")
user_spend = df.groupby("user_id")["order_amount"].sum()
count_users = user_spend[user_spend > 1000].count()
print("Count:", count_users)
print("-"*60)

print("MCQ 4 Restaurant rating range with highest revenue")
df["rating_range"] = pd.cut(
    df["restaurant_rating"],
    bins=[3.0, 3.5, 4.0, 4.5, 5.0],
    labels=["3.03.5", "3.64.0", "4.14.5", "4.65.0"]
)
rating_rev = df.groupby("rating_range")["order_amount"].sum().sort_values(ascending=False)
print(rating_rev, "\n")
print("Answer:", rating_rev.idxmax())
print("-"*60)

print("MCQ 5 Gold members: city with highest average order value")
gold_city_aov = (
    df[df["membership_type"] == "Gold"]
    .groupby("city")["order_amount"]
    .mean()
    .sort_values(ascending=False)
)
print(gold_city_aov, "\n")
print("Answer:", gold_city_aov.idxmax())
print("-"*60)

print("MCQ 6 Cuisine with lowest restaurants but high revenue")
cuisine_stats = df.groupby("cuisine").agg(
    restaurants=("restaurant_id", "nunique"),
    revenue=("order_amount", "sum")
).sort_values(["restaurants", "revenue"], ascending=[True, False])
print(cuisine_stats)
print("-"*60)

print("MCQ 7 Percentage of orders by Gold members")
gold_pct = round(
    (df[df["membership_type"] == "Gold"].shape[0] / df.shape[0]) * 100
)
print("Answer:", gold_pct, "%")
print("-"*60)

print("MCQ 8 Restaurant with highest AOV (<20 orders)")
rest_stats = df.groupby("restaurant_name").agg(
    orders=("order_id", "count"),
    avg_value=("order_amount", "mean")
)
filtered = rest_stats[rest_stats["orders"] < 20].sort_values("avg_value", ascending=False)
print(filtered.head(1))
print("-"*60)

print("MCQ 9 Highest revenue combination (Membership + Cuisine)")
combo = df.groupby(["membership_type", "cuisine"])["order_amount"].sum().sort_values(ascending=False)
print(combo)
print("Answer:", combo.idxmax())
print("-"*60)

print("MCQ  Quarter with highest revenue")
df["order_date"] = pd.to_datetime(df["order_date"])
df["quarter"] = df["order_date"].dt.to_period("Q")
quarter_rev = df.groupby("quarter")["order_amount"].sum().sort_values(ascending=False)
print(quarter_rev)
print("Answer:", quarter_rev.idxmax())

MCQ 1 City with highest total revenue from Gold members

KeyError: 'membership_type'

In [132]:
import pandas as pd

df = pd.read_csv("final_food_delivery_dataset.csv")
df.head()

,order_id,user_id,restaurant_id,order_date,total_amount,restaurant_name_x,name,city,membership,restaurant_name_y,cuisine,rating
0,1,2508,450,18-02-2023,842.97,New Foods Chinese,User_2508,Hyderabad,Regular,Restaurant_450,Mexican,3.2
1,2,2693,309,18-01-2023,546.68,Ruchi Curry House Multicuisine,User_2693,Pune,Regular,Restaurant_309,Indian,4.5
2,3,2084,107,15-07-2023,163.93,Spice Kitchen Punjabi,User_2084,Chennai,Gold,Restaurant_107,Mexican,4.0
3,4,319,224,04-10-2023,1155.97,Darbar Kitchen Non-Veg,User_319,Bangalore,Gold,Restaurant_224,Chinese,4.8
4,5,1064,293,25-12-2023,1321.91,Royal Eatery South Indian,User_1064,Pune,Regular,Restaurant_293,Italian,3.0

In [134]:
df_gold = df[df["membership_type"] == "Gold"]

df_gold.groupby("city")["order_amount"].sum().sort_values(ascending=False)

KeyError: 'membership_type'

In [136]:
df.columns

Index(['order_id', 'user_id', 'restaurant_id', 'order_date', 'total_amount',
       'restaurant_name_x', 'name', 'city', 'membership', 'restaurant_name_y',
       'cuisine', 'rating'],
      dtype='object')

In [138]:
[col for col in df.columns if "member" in col.lower() or "gold" in col.lower()]

['membership']

In [140]:
df = df.rename(columns={"membership": "membership_type"})

In [142]:
"membership_type" in df.columns

True

In [144]:
df[df["membership_type"] == "Gold"].head()

,order_id,user_id,restaurant_id,order_date,total_amount,restaurant_name_x,name,city,membership_type,restaurant_name_y,cuisine,rating
2,3,2084,107,15-07-2023,163.93,Spice Kitchen Punjabi,User_2084,Chennai,Gold,Restaurant_107,Mexican,4.0
3,4,319,224,04-10-2023,1155.97,Darbar Kitchen Non-Veg,User_319,Bangalore,Gold,Restaurant_224,Chinese,4.8
8,9,364,7,05-12-2023,953.30,Ruchi Biryani Punjabi,User_364,Chennai,Gold,Restaurant_7,Italian,3.2
11,12,884,423,27-10-2023,1484.65,Royal Tiffins Multicuisine,User_884,Pune,Gold,Restaurant_423,Indian,3.2
13,14,364,112,24-09-2023,898.24,Grand Cafe Punjabi,User_364,Chennai,Gold,Restaurant_112,Chinese,3.2

In [146]:
df_gold = df[df["membership_type"] == "Gold"]

df_gold.groupby("city")["order_amount"].sum().sort_values(ascending=False)

KeyError: 'Column not found: order_amount'

In [148]:
df["membership_type"] = df["is_gold"].map({True: "Gold", False: "Regular"})

KeyError: 'is_gold'

In [150]:
df[df["membership_type"] == "Gold"].head()

,order_id,user_id,restaurant_id,order_date,total_amount,restaurant_name_x,name,city,membership_type,restaurant_name_y,cuisine,rating
2,3,2084,107,15-07-2023,163.93,Spice Kitchen Punjabi,User_2084,Chennai,Gold,Restaurant_107,Mexican,4.0
3,4,319,224,04-10-2023,1155.97,Darbar Kitchen Non-Veg,User_319,Bangalore,Gold,Restaurant_224,Chinese,4.8
8,9,364,7,05-12-2023,953.30,Ruchi Biryani Punjabi,User_364,Chennai,Gold,Restaurant_7,Italian,3.2
11,12,884,423,27-10-2023,1484.65,Royal Tiffins Multicuisine,User_884,Pune,Gold,Restaurant_423,Indian,3.2
13,14,364,112,24-09-2023,898.24,Grand Cafe Punjabi,User_364,Chennai,Gold,Restaurant_112,Chinese,3.2

In [152]:
df.columns = df.columns.str.strip().str.lower()
df.columns

Index(['order_id', 'user_id', 'restaurant_id', 'order_date', 'total_amount',
       'restaurant_name_x', 'name', 'city', 'membership_type',
       'restaurant_name_y', 'cuisine', 'rating'],
      dtype='object')

In [155]:
df = df.rename(columns={
    "total_amount": "order_amount",
    "rating": "restaurant_rating",
    "restaurant_name_y": "restaurant_name"
})

In [157]:
df = df.drop(columns=["restaurant_name_x"])

In [159]:
df.columns

Index(['order_id', 'user_id', 'restaurant_id', 'order_date', 'order_amount',
       'name', 'city', 'membership_type', 'restaurant_name', 'cuisine',
       'restaurant_rating'],
      dtype='object')

In [161]:
df[df["membership_type"] == "Gold"] \
  .groupby("city")["order_amount"] \
  .sum() \
  .sort_values(ascending=False)

city
Chennai      1080909.79
Pune         1003012.32
Bangalore     994702.59
Hyderabad     896740.19
Name: order_amount, dtype: float64

In [163]:
df.groupby("cuisine")["order_amount"] \
  .mean() \
  .sort_values(ascending=False)

cuisine
Mexican    808.021344
Italian    799.448578
Indian     798.466011
Chinese    798.389020
Name: order_amount, dtype: float64

In [165]:
user_spend = df.groupby("user_id")["order_amount"].sum()
user_spend[user_spend > 1000].count()

2544

In [167]:
df["rating_range"] = pd.cut(
    df["restaurant_rating"],
    bins=[3.0, 3.5, 4.0, 4.5, 5.0],
    labels=["3.03.5", "3.64.0", "4.14.5", "4.65.0"]
)

df.groupby("rating_range")["order_amount"] \
  .sum() \
  .sort_values(ascending=False)

C:\Users\kumar\AppData\Local\Temp\ipykernel_32620\3145171307.py:7: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  df.groupby("rating_range")["order_amount"] \

rating_range
4.65.0    2197030.75
4.14.5    1960326.26
3.03.5    1881754.57
3.64.0    1717494.41
Name: order_amount, dtype: float64

In [169]:
df[df["membership_type"] == "Gold"] \
  .groupby("city")["order_amount"] \
  .mean() \
  .sort_values(ascending=False)

city
Chennai      808.459080
Hyderabad    806.421034
Bangalore    793.223756
Pune         781.162243
Name: order_amount, dtype: float64

In [171]:
df.groupby("cuisine").agg(
    restaurant_count=("restaurant_id", "nunique"),
    revenue=("order_amount", "sum")
).sort_values(["restaurant_count", "revenue"], ascending=[True, False])

         restaurant_count     revenue
cuisine
Chinese               120  1930504.65
Italian               126  2024203.80
Indian                126  1971412.58
Mexican               128  2085503.09

In [173]:
round(
    (df[df["membership_type"] == "Gold"].shape[0] / df.shape[0]) * 100
)

50

In [175]:
df.groupby("restaurant_name").agg(
    orders=("order_id", "count"),
    avg_value=("order_amount", "mean")
).query("orders < 20") \
 .sort_values("avg_value", ascending=False)

                 orders    avg_value
restaurant_name
Restaurant_294       13  1040.222308
Restaurant_262       18  1029.473333
Restaurant_77        12  1029.180833
Restaurant_193       15  1026.306667
Restaurant_7         16  1002.140625
...                 ...          ...
Restaurant_184       19   621.828947
Restaurant_498       18   596.815556
Restaurant_192       14   589.972857
Restaurant_329       15   578.578667
Restaurant_300       17   572.686471

[241 rows x 2 columns]

In [177]:
df.groupby("restaurant_name").agg(
    orders=("order_id", "count"),
    avg_value=("order_amount", "mean")
).query("orders < 20") \
 .sort_values("avg_value", ascending=False)

                 orders    avg_value
restaurant_name
Restaurant_294       13  1040.222308
Restaurant_262       18  1029.473333
Restaurant_77        12  1029.180833
Restaurant_193       15  1026.306667
Restaurant_7         16  1002.140625
...                 ...          ...
Restaurant_184       19   621.828947
Restaurant_498       18   596.815556
Restaurant_192       14   589.972857
Restaurant_329       15   578.578667
Restaurant_300       17   572.686471

[241 rows x 2 columns]

In [179]:
df.groupby(["membership_type", "cuisine"])["order_amount"] \
  .sum() \
  .sort_values(ascending=False)

membership_type  cuisine
Regular          Mexican    1072943.30
                 Italian    1018424.75
Gold             Mexican    1012559.79
                 Italian    1005779.05
Regular          Indian      992100.27
Gold             Indian      979312.31
                 Chinese     977713.74
Regular          Chinese     952790.91
Name: order_amount, dtype: float64

In [181]:
df["order_date"] = pd.to_datetime(df["order_date"], dayfirst=True)
df["quarter"] = df["order_date"].dt.quarter

df.groupby("quarter")["order_amount"] \
  .sum() \
  .sort_values(ascending=False)

quarter
3    2037385.10
4    2018263.66
1    2010626.64
2    1945348.72
Name: order_amount, dtype: float64

In [183]:
df.columns = df.columns.str.strip().str.lower()

df = df.rename(columns={
    "total_amount": "order_amount",
    "rating": "restaurant_rating",
    "restaurant_name_y": "restaurant_name"
})

if "restaurant_name_x" in df.columns:
    df = df.drop(columns=["restaurant_name_x"])

df.columns

Index(['order_id', 'user_id', 'restaurant_id', 'order_date', 'order_amount',
       'name', 'city', 'membership_type', 'restaurant_name', 'cuisine',
       'restaurant_rating', 'rating_range', 'quarter'],
      dtype='object')

In [185]:
df[df["membership_type"] == "Gold"].shape[0]

4987

In [187]:
round(
    df[df["city"] == "Hyderabad"]["order_amount"].sum()
)

1889367

In [189]:
df["user_id"].nunique()

2883

In [191]:
round(
    df[df["membership_type"] == "Gold"]["order_amount"].mean(),
    2
)

797.15

In [193]:
df[df["restaurant_rating"] >= 4.5].shape[0]

3374

In [195]:
top_gold_city = (
    df[df["membership_type"] == "Gold"]
    .groupby("city")["order_amount"]
    .sum()
    .idxmax()
)

top_gold_city

'Chennai'

In [197]:
df[
    (df["membership_type"] == "Gold") &
    (df["city"] == top_gold_city)
].shape[0]

1337